.profile_my_header {
    display: flex;
    height: 81px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.profile_account_header {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
    margin-left: 143px;
    margin-right: 156px;
}

.profile_account_header>p {
    font-weight: 700;
    font-size: 15px;
}

.profile_account_header>span {
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.profile_order_content {
    display: flex;
    flex-direction: row;
}

.profile_my_order_head {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    width: 170px;
    border-right: 1px solid #ccc;
}

.profile_btn_overview {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.profile_order_return {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    width: 170px;
    border-right: 1px solid #ccc;
}

.profile_order_return>span {
    font-size: 12px;
    color: gray;
    margin-bottom: 15px;
}

.profile_order_credits {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.profile_order_credits>span {
    font-size: 12px;
    color: gray;
    margin-bottom: 15px;
}

.profile_order_account {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.profile_order_account>span {
    font-size: 12px;
    color: gray;
    margin-bottom: 15px;
}

.my_profile_main {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: 8px;
    width: 750px;
    border: 1px solid #ccc;
}

.my_profile_main>span {
    margin-left: 140px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 700;
}

.profile_main_containe {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_containe>p {
    color: rgb(97, 95, 95);
}

.profile_main_containe>span {
    margin-left: 130px;
    color: rgb(97, 95, 95);
}

.profile_main_mobile {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_mobile>p {
    color: rgb(97, 95, 95);
}

.profile_main_mobile>span {
    margin-left: 90px;
    color: rgb(97, 95, 95);
}

.profile_main_email {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_email>p {
    color: rgb(97, 95, 95);
}

.profile_main_email>span {
    margin-left: 164px;
    color: rgb(97, 95, 95);
}

.profile_main_gender {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_gender>p {
    color: rgb(97, 95, 95);
}

.profile_main_gender>span {
    margin-left: 150px;
    color: rgb(97, 95, 95);
}

.profile_main_dob {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_dob>p {
    color: rgb(97, 95, 95);
}

.profile_main_dob>span {
    margin-left: 112px;
    color: rgb(97, 95, 95);
}

.profile_main_location {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_location>p {
    color: rgb(97, 95, 95);
}

.profile_main_location>span {
    margin-left: 141px;
    color: rgb(97, 95, 95);
}

.profile_main_alternate_num {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_alternate_num>p {
    color: rgb(97, 95, 95);
}

.profile_main_alternate_num>span {
    margin-left: 74px;
    color: rgb(97, 95, 95);
}

.profile_main_hintname {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
}

.profile_main_hintname>p {
    color: rgb(97, 95, 95);
}

.profile_main_hintname>span {
    margin-left: 125px;
    color: rgb(97, 95, 95);
}

.profile_main_button {
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: 10px;
    margin-bottom: 70px;
}

.profile_main_button>button {
    border: 1px solid #ff3e6c;
    background-color: #ff3e6c;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 12px;
    border-radius: 2px;
    width: 410px;
}