/* Media Query for Mobile Devices */
@media (max-width: 480px) {    
    .empty_wishlist{
     width: 1200px;
    }
   }
.empty_wishlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 450px;
}
.empty_wishlist > h4{
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
}
.empty_wishlist > p{
    font-size: 18px;
    color: gray;
    margin-top: 25px;
}
.empty_wishlist > button{
    border: 1px solid #2b43f5;
    border-radius: 2px;
    color: #2b43f5;
    font-weight: 700;
    font-size: 18px;
    height: 55px;
    width: 270px;
    margin-top: 25px;
    border-radius: 3px;
    padding-left: 40px;
    padding-top: 13px;
}
.empty_wishlist > button:hover{
    border: 1px solid #2b43f5;
    border-radius: 3px;
    color: #2b43f5;
    font-weight: 700;
    font-size: 18px;
}
.empty_wishlist > button:focus{
    border: 1px solid #2b43f5;
    border-radius: 3px;
    color: #2b43f5;
    font-weight: 700;
    font-size: 18px;
}
.cart_header {
    height: 78px;
    border: 1ps solid #ccc;
}
.logo_container {
    margin-left: 51px;
    margin-top: 4px;
}
.myntra_home {
    height: 45px;
    margin-top: 14px;
    margin-left: -5px;
}
.cart_address_stepper {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    margin-left: 485px;
    margin-top: -27px;
}
.car_bag>span {
    border-bottom: 2px solid #04966a;
    color: #04966a;
}
.cart_auth_sec {
    display: flex;
    flex-direction: row;
    margin-left: 1057px;
    margin-top: -25px;
}
.cart_auth_sec>span {
    font-size: 11px;
    margin-top: 7px;
    margin-left: 4px;
    font-weight: 500;
}
.cart_sec_image {
    height: 28px;

}
.header {
    display: flex;
    height: 81px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}