
.nav_links_column_beauty{
    width: 325px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.heading_category_beauty{
    font-size: 12px;
    margin-left: 30px;
    text-transform: capitalize;
    color: #0db7af;
}
.nav_links_column_beauty li{
    list-style: none;
    text-decoration: none;
}