
.nav_links_column_kids{
    width: 325px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.heading_category_kids{
    font-size: 12px;
    margin-left: 30px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: none;
    color: black;
    padding: 0;
    margin-top: -25px;
    background: 0;
}
.heading_category_kids:hover{
    font-weight: 600;
}
.nav_links_column_kids li{
    list-style: none;
    text-decoration: none;
}