
.nav_links_column_men{
    width: 325px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.heading_category_men{
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 30px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.heading_category_men:hover{
    font-weight: 600;
}
.nav_links_column_men li{
    list-style: none;
   
}