/* Media Query for Mobile Devices */
@media (max-width: 480px) {          
    .nav_link:hover .nav_link_row{
        opacity: 1;
        visibility: visible;
    }
   }

.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.myntra_home {
    height: 45px;
    margin-top: -2px;
    margin-left: -5px
}

.logo_container {
    margin-left: 46px;
    margin-top: 0px;
}

.action_bar {
    margin-right: 1%;
}

.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    margin-left: 28px;
    margin-top: 7px;
}

.nav_bar>a {
    font-size: 12px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 23px 0;
    border-bottom: 5px solid #fff;

}

.nav_bar>a:hover {
    border-bottom: 3px solid #ff3e6c;
}

.nav_bar>a>sup {
    color: #ff3e6c;
    font-size: 10px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 58px;
}

.search_input {
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: small;
}

.search_input:focus {
    outline: none;
    background-color: #fff;
}

.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
    margin-top: 6px;
}

.action_container_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2px;
}
.action_container_wishlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-right: 14px;
}
.action_container_bag{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-right: 5px;
}
.action_icon {
    font-weight: 300;
    cursor: pointer;
    margin-left: 17px;
    margin-top: -3px;
}

.action_name {
    cursor: pointer;
    font-weight: 700;
    font-size: 11px;
    margin-left: 13px;
}

.profile_name {
    font-size: 14px;
    margin-left: 15px;
}

.login_btn {
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #eee;
    color: #ff3e6c;
    border-radius: 2px;
    margin-left: 15px;
    margin-top: 15px;
}

.login_btn:focus {
    border: 1px solid #ff3e6c;
    background-color: #fff;
    color: #ff3e6c;
}

.login_btn:hover {
    border: 1px solid #ff3e6c;
    background-color: #fff;
    color: #ff3e6c;
}

.profile_lnk_hover {
    margin-top: -16px;
    font-size: 12px;
}

.profile_lnk>a :hover {
    color: black;
    font-weight: 700;
}

/* popup */
.dropbtn {
    background-color: #fff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: 20px;

}

.dropdown-content a:hover {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}
.nav_link_row{
    width: 1130px;
    display: flex;
    flex-direction: row;
    left: 35px;
    margin-right: 65px;
    top: 40px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
.nav_link:hover .nav_link_row{
    opacity: 1;
    visibility: visible;
}
