.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
}
.sale_item{
    width: 250px;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.6em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
    margin-top: 85px;
}
.sale_item_category{
    width: 200px;
}