*{
    background-color: #fff;
}
.payment_cart_header {
    height: 78px;
    /* border: 1px solid #ccc; */
}

._payment_logo_container {
    margin-left: 51px;
    margin-top: 4px;
}

.payment_myntra_home {
    height: 40px;
    margin-top: 14px;
}

.cart_payment_stepper {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    margin-left: 485px;
    margin-top: -27px;
}

.cart_paymet {
    border-bottom: 2px solid #04966a;
    color: #04966a;
}

.cart_auth_payment_sec {
    display: flex;
    flex-direction: row;
    margin-left: 1057px;
    margin-top: -25px;
}

.cart_sec_payment_image {
    height: 28px;

}

.cart_auth_payment_sec>span {
    font-size: 11px;
    margin-top: 7px;
    margin-left: 4px;
    font-weight: 500;
}

.cart_summry {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.cart_deatils_desc {
    flex-grow: .6%;
}
/* .cart_total_summary{
    border: 1px solid #eee;
    margin-top: -3px;
    margin-left: 22px;
    width: 600px;
} */


.product_summary_cart{
    display: flex;
    flex-direction: column;
}
.price_details{
    font-size: 12px;
    font-weight: 700;
    color: gray;
    margin-left: 15px;
}
.total_mrp{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 12px;
}
.discount_on_mrp{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 9px;
}
.coupon_discount_rs{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 9px;
    display: flex;
    flex-direction: row;
}
.platform_fee{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 9px;
}
.shippin_fee{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 9px;
}
.know_more_mrp_discount{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 63, 108);
}
.know_more_platform_fee{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 63, 108);
}
.know_more_shipping_fee{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 63, 108);
}
.product_cart_total{
    font-size: 14px;
    margin-left: 15px;
    font-weight: 700;
}
.place_order_btn{
    margin-left: 15px;
    width: 335px;
    height: 40px;
    border: 1px solid pink;
    color: #fff;
    background-color: rgb(255, 63, 108);
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
}
.place_order_btn:hover{
    background-color: rgb(249, 47, 95);

}
.avail_offers{
    display: flex;
    flex-direction: column;
    margin-left: 151px;
    margin-top: 10px;
    border: 1px solid #eee;
    width: 593px;
    height: 108px;
}
.avail_offers_tag{
    margin-left: 15px;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
}
.avail_0ffers_list{
    font-size: 13px;
    margin-top: 10px;
    margin-left: -16px;
}
.show_more_btn{
    color: rgb(249, 47, 95);
    margin-left: -480px;
    font-weight: 700;
    font-size: 13px;
}
.show_more_btn:hover{
    color: rgb(249, 47, 95);
}
.show_more_btn:focus{
    color: rgb(249, 47, 95);
    outline: none;
}
.mayment_method{
    display: flex;
    flex-direction: row;
    margin-left: 141px;
    margin-bottom: 10px;
}
.mayment_method > img{
    width: 64px;
    height: 40px;
}
.payment_option{
    border: 1px solid #ccc;
display: flex;
flex-direction: row;
margin-left: 153px;
}
.payment_name_recommend{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.recommend_btn{
    width: 210px;
    height: 65px;
    border: none;
    background: rgb(245, 240, 240);
}
.recomend_options{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 18px;
    font-weight: 500;
}
.payment_checked{
    display: flex;
    flex-direction: row;
}
.google_pay_mode{
    display: flex;
    flex-direction: row;
    margin-top: 20px; 
}