.banner_container{
    margin-top: 42px;
}
.banner_image{
    width: 100%;
    height: 340px;
    margin-top: 40px;
}
.carousel-indicators{
    background: 0;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .banner_container{
        width: 1200px;
    }
}

